<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>firstmodule</name>
    <displayName><![CDATA[First Module]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[this a test module]]></description>
    <author><![CDATA[Youssef Azzouz]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Confirm the uninstallation]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>